/* Start Header */
header .contain {
  position: fixed;
  width: 100%;
  top: 30px;
  z-index: 1000;
}


header .contain .header_box {
  width: 100%;
  background-color: var(--white_color);
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: var(--header_shadow);
}

@media (max-width:1200px) {
  header .contain {
    top: 25px;
  }


  header .contain .header_box {
    border-radius: 8px;
    padding: 18px;
  }
}

@media (max-width:992px) {
  header .contain {
    top: 22px;
  }


  header .contain .header_box {
    border-radius: 6px;
    padding: 16px;
  }
}

@media (max-width:768px) {
  header .contain {
    top: 20px;
  }


  header .contain .header_box {
    border-radius: 5px;
    padding: 15px;
  }
}

@media (max-width:540px) {
  header .contain {
    top: 15px;
  }


  header .contain .header_box {
    border-radius: 3px;
    padding: 12px;
  }
}

/* End Header */


/*Start Main Section*/
section.main .contain {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

section.main .contain .content {
  z-index: 2;
}

section.main .contain .content h1 {
  font-weight: 500;
}

section.main .contain .content h1 span {
  position: relative;
}

section.main .contain .content h1 span::after {
  content: "";
  background-color: var(--green_color);
  height: 10px;
  width: 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: var(--trans);
  animation: moveLine;
  animation-duration: 2s;
  animation-fill-mode: both;
}

section.main .contain .content p {
  width: 75%;
}

section.main .contain .lands {
  position: absolute;
  right: 40px;
  z-index: 0;
}

section.main .contain .lands .img {
  width: 300px;
  height: auto;
}

section.main .contain .lands .img img {
  width: 100%;
  height: 100%;
  transition: var(--trans);
  transform: translateY(0%);
}

section.main .contain .lands:hover .img:first-child {
  animation-name: moveUp;
  animation-fill-mode: both;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

section.main .contain .lands:hover .img:last-child {
  animation-name: moveDown;
  animation-fill-mode: both;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}



/*Start Animations*/
@keyframes moveLine {
  50% {
    left: 100%;
    width: 10px;
  }

  100% {
    left: 0;
    width: 100%;
  }
}

@keyframes moveUp {
  50% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes moveDown {
  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0%);
  }
}

@media (max-width:1200px) {

  section.main .contain .content h1 span::after {
    height: 9px;
    width: 9px;
    border-radius: 4px;
  }

  section.main .contain .content p {
    width: 80%;
  }

  section.main .contain .lands {
    right: 30px;
  }

  section.main .contain .lands .img {
    width: 260px;
  }


  /*Start Animations*/
  @keyframes moveLine {
    50% {
      left: 100%;
      width: 9px;
    }

    100% {
      left: 0;
      width: 100%;
    }
  }
}

@media (max-width:992px) {
  section.main .contain .content h1 span::after {
    height: 8px;
    width: 8px;
    border-radius: 3px;
  }

  section.main .contain .content p {
    width: 85%;
  }

  section.main .contain .lands {
    right: 20px;
  }

  section.main .contain .lands .img {
    width: 200px;
  }


  /*Start Animations*/
  @keyframes moveLine {
    50% {
      left: 100%;
      width: 9px;
    }

    100% {
      left: 0;
      width: 100%;
    }
  }
}

@media (max-width:768px) {
  section.main .contain .content h1 span::after {
    height: 7px;
    width: 7px;
    border-radius: 2px;
  }

  section.main .contain .content p {
    width: 100%;
  }

  section.main .contain .lands {
    right: 0px;
  }

  section.main .contain .lands .img {
    width: 180px;
  }


  /*Start Animations*/
  @keyframes moveLine {
    50% {
      left: 100%;
      width: 9px;
    }

    100% {
      left: 0;
      width: 100%;
    }
  }
}

@media (max-width:540px) {
  section.main .contain .content {
    justify-content: center !important;
    text-align: center;
  }

  section.main .contain .content h1 span::after {
    height: 6px;
    width: 6px;
  }

  section.main .contain .content p {
    text-align: center;
  }

  section.main .contain .content .btns {
    justify-content: center !important;
  }

  section.main .contain .lands {
    right: 0px;
  }

  section.main .contain .lands .img {
    width: 120px;
  }


  /*Start Animations*/
  @keyframes moveLine {
    50% {
      left: 100%;
      width: 9px;
    }

    100% {
      left: 0;
      width: 100%;
    }
  }
}

/*End Animations*/

/*End Main Section*/



/*Start Building Section*/
section.building {
  background-color: var(--primary_color);
  border-bottom-left-radius: 200px;
}

section.building .contain {
  text-align: center;
  margin: auto;
  width: 60%;
}

section.building .contain .btn {
  margin: auto;
}

@media (max-width:1200px) {
  section.building {
    border-bottom-left-radius: 150px;
  }

  section.building .contain {
    width: 75%;
  }
}

@media (max-width:992px) {
  section.building {
    border-bottom-left-radius: 120px;
  }

  section.building .contain {
    width: 80%;
  }
}

@media (max-width:768px) {
  section.building {
    border-bottom-left-radius: 100px;
  }

  section.building .contain {
    width: 85%;
  }
}

@media (max-width:540px) {
  section.building {
    border-bottom-left-radius: 80px;
  }

  section.building .contain {
    width: 100%;
  }
}

/*End Building Section*/



/*Start Services Section*/
.services .contain .services_box {
  background-color: var(--primary_color);
  border-radius: 20px;
  padding: 60px 40px;
  width: 100%;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  box-shadow: var(--black_color) 1px 1px 1px 1px
}

.services .contain .services_box .service {
  text-align: center;
}

.services .contain .services_box .service .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--white_color);
  margin: auto;
}

@media (max-width:1200px) {
  .services .contain .services_box {
    border-radius: 18px;
    padding: 50px 35px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .services .contain .services_box .service .icon {
    width: 55px;
    height: 55px;
  }
}

@media (max-width:992px) {
  .services .contain .services_box {
    border-radius: 16px;
    padding: 45px 30px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }

  .services .contain .services_box .service .icon {
    width: 50;
    height: 50px;
  }
}

@media (max-width:768px) {
  .services .contain .services_box {
    border-radius: 14px;
    padding: 40px 26px;
    grid-template-columns: repeat(1, 1fr);
  }

  .services .contain .services_box .service .icon {
    width: 45px;
    height: 45px;
  }
}

@media (max-width:540px) {
  .services .contain .services_box {
    border-radius: 12px;
    padding: 35px 20px;
  }

  .services .contain .services_box .service .icon {
    width: 40px;
    height: 40px;
  }
}

/*End Services Section*/



/*Start Discover Section*/
section.discover .contain {
  position: relative;
}

section.discover .contain .cols {
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  height: 500px;
  position: relative;
}

section.discover .contain .cols::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1));
  width: 100%;
  height: 40%;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 30px 5px;
}

section.discover .contain .cols .col img {
  width: 100%;
  border-radius: 10px;
}

section.discover .contain .content {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

section.discover .contain .content h6 {
  font-weight: 400;
}

section.discover .contain .content h6 span {
  font-weight: 500;
}

section.discover .contain .content button {
  margin: auto;
}

@media (max-width:1200px) {
  section.discover .contain .cols {
    grid-template-columns: repeat(3, 1fr);
    height: 450px;
  }

  section.discover .contain .cols .col img {
    border-radius: 8px;
  }

  section.discover .contain .content {
    bottom: 80px;
  }
}

@media (max-width:992px) {
  section.discover .contain .cols {
    grid-template-columns: repeat(2, 1fr);
    height: 400px;
  }

  section.discover .contain .cols .col img {
    border-radius: 6px;
  }

  section.discover .contain .content {
    bottom: 70px;
  }
}

@media (max-width:768px) {
  section.discover .contain .cols {
    grid-template-columns: repeat(1, 1fr);
    height: 380px;
  }

  section.discover .contain .cols .col img {
    border-radius: 5px;
  }

  section.discover .contain .content {
    bottom: 60px;
    text-align: center;
  }
}

@media (max-width:540px) {
  section.discover .contain .cols {
    height: 350px;
  }

  section.discover .contain .cols .col img {
    border-radius: 4px;
  }

  section.discover .contain .content {
    bottom: 50px;
  }
}

/*End Discover Section*/





/*Start Creation Section*/
section.creation {
  background-image: linear-gradient(135deg, var(--primary_color), var(--secondary_color));
}

section.creation .contain .items {
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

section.creation .contain .items .item .icon {
  background-color: var(--white_color);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: var(--header_shadow);
}

section.creation .contain .items .item .icon img {
  width: 20px;
}

section.creation .contain .items .item h6 {
  font-weight: 500;
}

@media (max-width:1200px) {
  section.creation .contain .items {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  section.creation .contain .items .item .icon {
    width: 55px;
    height: 55px;
  }

  section.creation .contain .items .item .icon img {
    width: 18px;
  }
}

@media (max-width:992px) {
  section.creation .contain .head {
    display: grid !important;
  }

  section.creation .contain .head button {
    width: -moz-fit-content;
    width: fit-content;
  }

  section.creation .contain .items {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }

  section.creation .contain .items .item .icon {
    width: 50px;
    height: 50px;
  }

  section.creation .contain .items .item .icon img {
    width: 17px;
  }
}

@media (max-width:768px) {
  section.creation .contain .head {
    justify-content: center !important;
    text-align: center;
  }

  section.creation .contain .head button {
    margin: auto;
  }

  section.creation .contain .items {
    grid-template-columns: repeat(2, 1fr);
  }

  section.creation .contain .items .item .icon {
    width: 45px;
    height: 45px;
  }

  section.creation .contain .items .item .icon img {
    width: 16px;
  }
}

@media (max-width:540px) {
  section.creation .contain .items {
    grid-template-columns: repeat(1, 1fr);
  }

  section.creation .contain .items .item .icon {
    width: 40px;
    height: 40px;
  }

  section.creation .contain .items .item .icon img {
    width: 14px;
  }
}

/*End Creation Section*/





/*Start Work Section*/
section.work .contain .head {
  text-align: center;
  width: 30%;
  margin: auto;
}


section.work .box {
  background-color: var(--white_color);
  position: relative;
  text-align: center;
}

section.work .box .icon {
  align-content: center;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: auto;
  background-color: var(--primary_color);
}

section.work .contain .boxes .box .icon span {
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--black_color);
  position: relative;
}

section.work .contain .boxes .box:first-child .icon {
  background-color: var(--pink_color);
}

section.work .contain .boxes .box:first-child .icon img {
  transform: scale(1);
}

section.work .contain .boxes .box:first-child .icon:hover img {
  animation-name: cursorClick;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

section.work .contain .boxes .box:nth-of-type(2) .icon {
  background-color: var(--purple_color);
}

section.work .contain .boxes .box:nth-of-type(2) .icon span:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--black_color);
  top: 50%;
  transform: translateY(-50%);
}

section.work .contain .boxes .box:nth-of-type(2) .icon:hover span:after {
  animation-name: moveSettings;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

section.work .contain .boxes .box:nth-of-type(2) .icon span:first-child::after,
section.work .contain .boxes .box:nth-of-type(2) .icon span:last-child::after {
  left: 25%;
}

section.work .contain .boxes .box:nth-of-type(2) .icon span:nth-of-type(2)::after {
  left: 50%;
}

section.work .contain .boxes .box:last-child .icon {
  background-color: var(--secondary_color);
}

section.work .contain .boxes .box:last-child .icon .icon_box {
  position: relative;
}

section.work .contain .boxes .box:last-child .icon .icon_box::after {
  content: "";
  position: absolute;
  border: 3px solid var(--black_color);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  left: 50%;
  top: 42.5%;
  transform: translate(-50%, -50%);
}

section.work .contain .boxes .box:last-child .icon .icon_box::before {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 300%;
  top: 42.5%;
  transform: translate(-50%, -50%);
}

section.work .contain .boxes .box:last-child .icon:hover .icon_box::before {
  animation-name: writeCorrect;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

section.work .box h5 {
  font-weight: 600;
}

section.work .box p {
  width: 78%;
  margin: auto;
}

section.work .contain:last-child::before {
  content: "";
  position: absolute;
  background-color: var(--primary_color);
  height: 100px;
  width: 100%;
  left: 0;
}

section.work .contain:last-child .box p {
  width: 40%;
}

section.work .contain:last-child .box .icon img {
  transform: rotate(0deg);
}

section.work .contain:last-child .box .icon:hover img {
  animation-name: walletMove;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

/*Animations*/
@keyframes writeCorrect {
  1% {
    background-color: var(--secondary_color);
    left: 50%;
  }

  100% {
    left: 300%;
    background-color: transparent;
  }
}

@keyframes moveSettings {
  50% {
    transform: translate(100%, -50%);
  }

  100% {
    transform: translate(0%, -50%);
  }
}

@keyframes cursorClick {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }


  100% {
    transform: scale(1);
  }
}

@keyframes walletMove {
  25% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width:1200px) {
  section.work .contain .head {
    width: 40%;
  }

  section.work .box .icon {
    width: 90px;
    height: 90px;
    border-radius: 9px;
  }

  section.work .contain .boxes .box:nth-of-type(2) .icon span:after {
    height: 4px;
    width: 4px;
  }

  section.work .contain .boxes .box:last-child .icon .icon_box::after {
    border: 2px solid var(--black_color);
    top: 42.5%;
  }

  section.work .contain .boxes .box:last-child .icon .icon_box::before {
    top: 42.5%;
  }

  section.work .box p {
    width: 80%;
  }

  section.work .contain:last-child::before {
    height: 90px;
  }

  section.work .contain:last-child .box p {
    width: 45%;
  }

  /*Animations*/
  @keyframes cursorClick {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.3);
    }


    100% {
      transform: scale(1);
    }
  }

  @keyframes walletMove {
    25% {
      transform: rotate(18deg);
    }

    75% {
      transform: rotate(-18deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

}

@media (max-width:992px) {
  section.work .contain .head {
    width: 50%;
  }

  section.work .box .icon {
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }

  section.work .contain .boxes .box .icon span {
    width: 16px;
  }

  section.work .contain .boxes .box:nth-of-type(2) .icon span:after {
    height: 3px;
    width: 3px;
  }

  section.work .contain .boxes .box:last-child .icon .icon_box::after {
    top: 42.5%;
  }

  section.work .box p {
    width: 85%;
  }

  section.work .contain:last-child::before {
    height: 80px;
  }

  section.work .contain:last-child .box p {
    width: 50%;
  }

  /*Animations*/
  @keyframes cursorClick {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }


    100% {
      transform: scale(1);
    }
  }

  @keyframes walletMove {
    25% {
      transform: rotate(18deg);
    }

    75% {
      transform: rotate(-18deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

}

@media (max-width:768px) {
  section.work .contain .head {
    width: 100%;
  }

  section.work .contain .boxes {
    display: grid !important;
    justify-content: center !important;
    grid-template-columns: repeat(1, 1fr);
  }

  section.work .contain .boxes>img {
    transform: rotate(90deg);
    margin: auto;
  }

  section.work .box .icon {
    width: 70px;
    height: 70px;
    border-radius: 8px;
  }

  section.work .box p {
    width: 90%;
  }

  section.work .contain:last-child::before {
    height: 70px;
  }

  section.work .contain:last-child .box p {
    width: 60%;
  }

  /*Animations*/
  @keyframes cursorClick {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }


    100% {
      transform: scale(1);
    }
  }

  @keyframes walletMove {
    25% {
      transform: rotate(18deg);
    }

    75% {
      transform: rotate(-18deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

}

/*End Work Section*/



/*Start Prices Section*/
section.prices {
  background-color: var(--primary_color);
}

section.prices .contain .head {
  width: 30%;
}

section.prices .contain .prices_boxes {
  grid-template-columns: repeat(3, 1fr);
}

section.prices .contain .prices_boxes .price_box {
  background-color: var(--white_color);
  padding: 30px;
  border-radius: 10px;
  transition: var(--trans);
  position: relative;
}

section.prices .contain .prices_boxes .price_box:hover {
  animation-name: movePrice;
  animation-duration: 1s;
  animation-fill-mode: both;
}

section.prices .contain .prices_boxes .price_box:nth-of-type(2) {
  border: 2px solid var(--black_color);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

section.prices .contain .prices_boxes .price_box:nth-of-type(2):before {
  content: "Recommended";
  position: absolute;
  bottom: 100%;
  background-color: var(--black_color);
  border-radius: 10px 10px 0 0;
  width: 100%;
  color: var(--white_color);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--black_color);
  left: -2px;
}

section.prices .contain .prices_boxes .price_box .icon {
  box-shadow: #111 1px 1px 0.2px 0.5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

section.prices .contain .prices_boxes .price_box .icon img {
  width: 30px;
}

section.prices .contain .prices_boxes .price_box:nth-of-type(2) .icon {
  background-color: var(--black_color);
}

section.prices .contain .prices_boxes .price_box .price_list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  transition: var(--trans);
}

section.prices .contain .prices_boxes .price_box .price_list li:hover {
  color: var(--green_color);
}

section.prices .contain .prices_boxes .price_box .price_list li h6 {
  font-weight: 400;
}

section.prices .contain .prices_boxes .price_box .price_list li img {
  width: 20px;
}


/*Animations*/
@keyframes movePrice {
  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width:1200px) {
  section.prices .contain .head {
    width: 50%;
  }

  section.prices .contain .prices_boxes {
    grid-template-columns: repeat(3, 1fr);
  }

  section.prices .contain .prices_boxes .price_box {
    padding: 25px;
    border-radius: 9px;
  }

  section.prices .contain .prices_boxes .price_box:nth-of-type(2):before {
    border-radius: 10px 10px 0 0;
    font-size: 16px;
    height: 45px;
  }

  section.prices .contain .prices_boxes .price_box .icon {
    width: 45px;
    height: 45px;
  }

  section.prices .contain .prices_boxes .price_box .icon img {
    width: 28px;
  }

  section.prices .contain .prices_boxes .price_box .price_list li {
    gap: 9px;
  }


  section.prices .contain .prices_boxes .price_box .price_list li img {
    width: 18px;
  }


  /*Animations*/
  @keyframes movePrice {
    50% {
      transform: scale(1.04);
    }

    100% {
      transform: scale(1);
    }
  }
}


@media (max-width:992px) {
  section.prices .contain .head {
    width: 60%;
  }

  section.prices .contain .prices_boxes {
    grid-template-columns: repeat(2, 1fr);
  }

  section.prices .contain .prices_boxes .price_box {
    padding: 20px;
    border-radius: 8px;
  }

  section.prices .contain .prices_boxes .price_box:nth-of-type(2):before {
    border-radius: 8px 8px 0 0;
    font-size: 14px;
    height: 40px;
  }

  section.prices .contain .prices_boxes .price_box .icon {
    width: 40px;
    height: 40px;
  }

  section.prices .contain .prices_boxes .price_box .icon img {
    width: 22px;
  }

  section.prices .contain .prices_boxes .price_box .price_list li {
    gap: 8px;
  }


  section.prices .contain .prices_boxes .price_box .price_list li img {
    width: 16px;
  }


  /*Animations*/
  @keyframes movePrice {
    50% {
      transform: scale(1.03);
    }

    100% {
      transform: scale(1);
    }
  }
}

@media (max-width:992px) {
  section.prices .contain .head {
    width: 75%;
  }

  section.prices .contain .prices_boxes {
    grid-template-columns: repeat(1, 1fr);
  }

  section.prices .contain .prices_boxes .price_box {
    padding: 18px;
    border-radius: 6px;
  }

  section.prices .contain .prices_boxes .price_box:nth-of-type(2) {
    margin-top: 40px;
  }

  section.prices .contain .prices_boxes .price_box:nth-of-type(2):before {
    border-radius: 6px 6px 0 0;
    font-size: 12px;
    height: 35px;
  }

  section.prices .contain .prices_boxes .price_box .icon {
    width: 40px;
    height: 40px;
  }

  section.prices .contain .prices_boxes .price_box .icon img {
    width: 20px;
  }

  section.prices .contain .prices_boxes .price_box .price_list li {
    gap: 5px;
  }


  section.prices .contain .prices_boxes .price_box .price_list li img {
    width: 14px;
  }


  /*Animations*/
  @keyframes movePrice {
    50% {
      transform: scale(1.02);
    }

    100% {
      transform: scale(1);
    }
  }
}

@media (max-width:768px) {
  section.prices .contain .head {
    width: 85%;
  }

  section.prices .contain .prices_boxes .price_box {
    padding: 15px;
    border-radius: 5px;
  }

  section.prices .contain .prices_boxes .price_box:nth-of-type(2) {
    margin-top: 35px;
  }

  section.prices .contain .prices_boxes .price_box:nth-of-type(2):before {
    border-radius: 4px 4px 0 0;
    height: 30px;
  }

  section.prices .contain .prices_boxes .price_box .icon {
    width: 35px;
    height: 35px;
  }

  section.prices .contain .prices_boxes .price_box .icon img {
    width: 18px;
  }

  section.prices .contain .prices_boxes .price_box .price_list li {
    gap: 4px;
  }


  section.prices .contain .prices_boxes .price_box .price_list li img {
    width: 12px;
  }

}

@media (max-width:540px) {
  section.prices .contain .head {
    width: 100%;
    justify-content: center !important;
    text-align: center;
  }

  section.prices .contain .prices_boxes .price_box {
    padding: 12px;
    border-radius: 4px;
  }

  section.prices .contain .prices_boxes .price_box:nth-of-type(2) {
    margin-top: 30px;
  }

  section.prices .contain .prices_boxes .price_box:nth-of-type(2):before {
    border-radius: 3px 3px 0 0;
    height: 25px;
  }

  section.prices .contain .prices_boxes .price_box .icon {
    width: 30px;
    height: 30px;
  }

  section.prices .contain .prices_boxes .price_box .icon img {
    width: 15px;
  }

  section.prices .contain .prices_boxes .price_box .price_list li {
    gap: 3px;
  }


  section.prices .contain .prices_boxes .price_box .price_list li img {
    width: 10px;
  }
}

/*End Prices Section*/




/*Start Contact Section*/
section.contact .contain {
  grid-template-columns: 25% 60%;
}

@media (max-width:1200px) {
  section.contact .contain {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:992px) {
  section.contact .contain {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width:768px) {
  section.contact .contain {
    grid-template-columns: repeat(1, 1fr);
  }

  section.contact .contain .content {
    justify-content: center !important;
    text-align: center;
  }
}

/*Start Contact Section*/





/*Start Footer*/
footer {
  background-color: var(--black_color);
}

footer .contain {
  gap: 200px;
  color: var(--white_color);
}

footer .contain .head_footer {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

footer .contain .head_footer .second h6,
footer .contain .head_footer .third h6 {
  padding: 12px 0;
}

footer .contain .head_footer .third .data .info img {
  width: 24px;
}

footer .contain .head_footer .third .data .info p {
  color: var(--gray_color)
}

footer .contain .head_footer .fourth img {
  width: 28px;
}

@media (max-width:1200px) {
  footer .contain {
    gap: 180px;
  }

  footer .contain .head_footer {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  footer .contain .head_footer .second h6,
  footer .contain .head_footer .third h6 {
    padding: 10px 0;
  }

  footer .contain .head_footer .third .data .info img {
    width: 22px;
  }

  footer .contain .head_footer .fourth img {
    width: 26px;
  }
}

@media (max-width:992px) {
  footer .contain {
    gap: 160px;
  }

  footer .contain .head_footer {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  footer .contain .head_footer .second h6,
  footer .contain .head_footer .third h6 {
    padding: 8px 0;
  }

  footer .contain .head_footer .third .data .info img {
    width: 20px;
  }

  footer .contain .head_footer .fourth img {
    width: 24px;
  }
}

@media (max-width:768px) {
  footer .contain {
    gap: 140px;
  }

  footer .contain .head_footer .second h6,
  footer .contain .head_footer .third h6 {
    padding: 6px 0;
  }

  footer .contain .head_footer .third .data .info img {
    width: 18px;
  }

  footer .contain .head_footer .fourth img {
    width: 20px;
  }
}

@media (max-width:540px) {
  footer .contain {
    gap: 100px;
  }

  footer .contain .head_footer {
    grid-template-columns: repeat(1, 1fr);
  }

  footer .contain .head_footer .second h6,
  footer .contain .head_footer .third h6 {
    padding: 4px 0;
  }

  footer .contain .head_footer .third .data .info img {
    width: 16px;
  }

  footer .contain .head_footer .fourth img {
    width: 18px;
  }

  footer .contain .foot_footer {
    justify-content: center !important;
    text-align: center;
  }
}

/*End Footer*/